.related-products-auragems {
    margin: 60px 0;
}

.related-products__heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.related-products__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media screen and (min-width: 750px) {
    .related-products__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}